<div>
    <h2 id="page-heading">
        <span jhiTranslate="weddingplanerApp.userExtra.home.title">User Extras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-extra" [routerLink]="['/user-extra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="weddingplanerApp.userExtra.home.createLabel">
            Create new User Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'weddingplanerApp.userExtra.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userExtras">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.code">Code</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.addressLine1">Address Line 1</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.addressLine2">Address Line 2</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.city">City</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.zipCode">Zip Code</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.country">Country</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.businessPhoneNr">Business Phone Nr</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.privatePhoneNr">Private Phone Nr</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.mobilePhoneNr">Mobile Phone Nr</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.guestInvitationDate">Guest Invitation Date</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.guestCommitted">Guest Committed</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.gender">Gender</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.ageGroup">Age Group</span></th>
            <th><span jhiTranslate="weddingplanerApp.userExtra.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtra of userExtras ;trackBy: trackId">
                <td><a [routerLink]="['/user-extra', userExtra.id, 'view' ]">{{userExtra.id}}</a></td>
                <td>{{userExtra.code}}</td>
                <td>{{userExtra.addressLine1}}</td>
                <td>{{userExtra.addressLine2}}</td>
                <td>{{userExtra.city}}</td>
                <td>{{userExtra.zipCode}}</td>
                <td>{{userExtra.country}}</td>
                <td>{{userExtra.businessPhoneNr}}</td>
                <td>{{userExtra.privatePhoneNr}}</td>
                <td>{{userExtra.mobilePhoneNr}}</td>
                <td>{{userExtra.guestInvitationDate | date:'mediumDate'}}</td>
                <td>{{userExtra.guestCommitted}}</td>
                <td jhiTranslate="{{'weddingplanerApp.Gender.' + userExtra.gender}}">{{userExtra.gender}}</td>
                <td jhiTranslate="{{'weddingplanerApp.AgeGroup.' + userExtra.ageGroup}}">{{userExtra.ageGroup}}</td>
                <td>
                    {{userExtra.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
