<div>
    <h2>
        <span jhiTranslate="weddingplanerApp.userExtra.home.title">User Extras</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right jh-create-entity create-user-extra"
                [routerLink]="['/', { outlets: { popup: ['user-extra-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiTranslate="weddingplanerApp.userExtra.home.createLabel">
            Create new User Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch"
                           placeholder="{{ 'weddingplanerApp.userExtra.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userExtras">
        <table class="table table-striped">
            <thead>
            <tr>

                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="weddingplanerApp.userExtra.code">Code</span>
                </th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.userFirstName">First Name</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.userLastName">Last Name</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.addressLine1">Address Line 1</span></th>
                <!--<th><span jhiTranslate="weddingplanerApp.userExtra.addressLine2">Address Line 2</span></th>-->
                <th><span jhiTranslate="weddingplanerApp.userExtra.zipCode">Zip Code</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.city">City</span></th>

                <!--<th><span jhiTranslate="weddingplanerApp.userExtra.country">Country</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.businessPhoneNr">Business Phone Nr</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.privatePhoneNr">Private Phone Nr</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.mobilePhoneNr">Mobile Phone Nr</span></th>-->
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span
                    jhiTranslate="weddingplanerApp.userExtra.guestInvitationDate">Guest Invitation Date</span></th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="weddingplanerApp.userExtra.guestCommitted">Guest Committed</span>
                </th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="weddingplanerApp.userExtra.gender">Gender</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.ageGroup">Age Group</span></th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="weddingplanerApp.userExtra.user">User</span></th>
                <th><span jhiTranslate="weddingplanerApp.userExtra.email">Email</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtra of userExtras ;trackBy: trackId">
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['../user-extra', userExtra.id ]">{{userExtra?.id}}</a></td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{userExtra?.code}}</td>
                <td>{{userExtra?.user.firstName}}</a></td>
                <td>{{userExtra?.user.lastName}}</td>
                <td>{{userExtra?.addressLine1}}</td>
                <td>{{userExtra?.zipCode}}</td>
                <td>{{userExtra?.city}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{userExtra?.guestInvitationDate | date:'mediumDate'}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-center"><i class="fa fa-{{userExtra.guestCommitted ? 'check text-success' : 'times text-danger'}}" aria-hidden="true"></i></td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" jhiTranslate="{{'weddingplanerApp.Gender.' + userExtra?.gender}}">{{userExtra?.gender}}</td>
                <td jhiTranslate="{{'weddingplanerApp.AgeGroup.' + userExtra?.ageGroup}}">{{userExtra?.ageGroup}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{userExtra.user?.id}}</td>
                <td>{{userExtra?.user.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button  *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['../user-extra', userExtra?.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
