
<div *ngIf="allowControl">
    <h2><span jhiTranslate="weddingplanerApp.allowControl.detail.title">Allow Control</span> {{allowControl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="weddingplanerApp.allowControl.allowGroup">Allow Group</span></dt>
        <dd>
            <span jhiTranslate="{{'weddingplanerApp.AllowGroup.' + allowControl.allowGroup}}">{{allowControl.allowGroup}}</span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.allowControl.controlledGroup">Controlled Group</span></dt>
        <dd>
            <span *ngFor="let controlledGroup of allowControl.controlledGroups; let last = last">
                <a [routerLink]="['/user-extra', controlledGroup?.id ]">{{controlledGroup.user_id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="weddingplanerApp.allowControl.controlGroup">Control Group</span></dt>
        <dd>
            <div *ngIf="allowControl.controlGroup">
                <a [routerLink]="['/user-extra', allowControl.controlGroup?.id]">{{allowControl.controlGroup?.user_id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'allow-control/'+ allowControl.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
