<div class="row">
    <div class="col-sm-8">
        <h2 jhiTranslate="weddingplanerApp.allowControl.home.title">Allow Controls</h2>
    </div>
    <div class="col-sm-4 text-right">
        <button class="btn btn-primary float-right jh-create-entity create-allow-control" [routerLink]="['/', { outlets: { popup: ['allow-control-new'] } }]"
                [ngbTooltip]="addTooltip"
                placement="bottom">
            <span class="fa fa-plus"></span>
            <ng-template #addTooltip>
            <span jhiTranslate="weddingplanerApp.allowControl.home.createLabel">
            Create new Allow Control
            </span>
            </ng-template>
        </button>
    <jhi-alert></jhi-alert>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'weddingplanerApp.allowControl.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="allowControls">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="allowGroup"><span jhiTranslate="weddingplanerApp.allowControl.allowGroup">Allow Group</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="controlGroup.user_id"><span jhiTranslate="weddingplanerApp.allowControl.controlGroup">Control Group</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allowControl of allowControls ;trackBy: trackId">
                <td  *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['../allow-control', allowControl.id ]">{{allowControl.id}}</a></td>
                <td jhiTranslate="{{'weddingplanerApp.AllowGroup.' + allowControl.allowGroup}}">{{allowControl.allowGroup}}</td>
                <td>
                    <div *ngIf="allowControl.controlGroup">
                        <a [routerLink]="['../user-extra', allowControl.controlGroup?.id ]" >{{allowControl.controlGroup?.user_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../allow-control', allowControl.id ]"
                                class="btn btn-sm btn-outline-info">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'allow-control/'+ allowControl.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-sm btn-outline-primary">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'allow-control/'+ allowControl.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-sm btn-outline-danger">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="allowControls && allowControls.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
